{% load static %}
<!-- Main Header -->
<header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>运维管理平台</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>运维管理平台</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account Menu -->
                <li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger">{{ user.self_user.count }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">
                            你有 {{ user.self_user.count }}
                            个任务计划未完成
                        </li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                {% for foo in user.self_user.all %}
                                    <li><!-- Task item -->
                                        <a href="javascript:void(0)">
                                            <h3>
                                                {{ foo.title }}
                                                <small class="pull-right">
                                                    截止日期：{{ foo.end_time|date:"Y-m-d H:i:s" }}
                                                </small>
                                            </h3>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#">查看所有</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs">{{ user.username }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <img src="{% static 'adminlet-2.4.10/dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
                            <p>
                                上次登录时间
                                <small>{{ user.last_login|date:"Y-m-d H:i:s" }}</small>
                            </p>
                        </li>

                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#" class="btn btn-default btn-flat">个人中心</a>
                                </div>

                                <div class="col-xs-2 text-center">
                                    <a href="#" class="btn btn-default btn-flat">锁屏</a>
                                </div>
                                {% if request.user.is_staff %}
                                    <div class="col-xs-3 text-center">
                                        <a href="/admin/" class="btn btn-default btn-flat" target="_blank">后台</a>
                                    </div>
                                {% endif %}
                                <div class="col-xs-3 text-center">
                                    <a href="#" class="btn btn-default btn-flat">退出</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-comments"></i></a>
                </li>
            </ul>
        </div>
    </nav>
  </header>