{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet"
          href="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
    <!-- Select2 -->
    <link rel="stylesheet" href="{% static 'adminlet-2.4.10/bower_components/select2/dist/css/select2.min.css' %}">

    <style>
        /* dataTables列内容居中 */
        #User > tbody > tr > td {
            text-align: center;
        }

        /* dataTables表头居中 */
        #User > thead:first-child > tr:first-child > th {
            text-align: center;
        }

        .form-horizontal .form-group {
            margin-right: -200px;
        }
    </style>
    <link rel="stylesheet" href="{% static 'plugins/jquery-confirm/dist/jquery-confirm.min.css' %}">
{% endblock %}

{% block content %}
    <br>
    <div class="row">
        <div class="col-xs-12" style="margin-bottom: 3px">
            <button class="btn btn-sm btn-success pull-left" data-toggle="modal" data-target="#UserModal" id="add-User"  style="margin-left: 15px">
                <i class="fa fa-User-plus"></i>
                <span class="bigger-110">新增用户</span>
            </button>
            <button class="btn btn-sm btn-info pull-left" data-toggle="modal" data-target="#importUsersModal"
                    style="margin-left: 2px">
                <i class="fa fa-upload"></i>
                <span class="bigger-110">批量导入</span>
            </button>
            <button class="btn btn-sm btn-info pull-left" id="exportChecked" style="margin-left: 2px">
                <i class="fa fa-file-text"></i>
                <span class="bigger-110">批量导出</span>
            </button>
            <button class="btn btn-sm btn-danger pull-left" id="deleteChecked" style="margin-left: 2px">
                <i class="fa fa-exclamation-triangle"></i>
                <span class="bigger-110">批量删除</span>
            </button>
        </div>

        <!-- UserModal  -->
        <div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="UserModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="UserModalLabel">

                        </h4>
                    </div>

                    {% if 'user_add' in session.permissions_list %}
                        <div class="modal-body">
                            <form class="main form-horizontal" id="User_form">
                                <fieldset>
                                    <div class="form-group">
                                        <label for="groups" class="col-sm-2 control-label">资产类型</label>
                                        <div class="col-sm-6">
                                            <select class="form-control select2 select2-allow-clear"  name="User_type"
                                                    id="User_type" style="width: 100%;" onchange="UserType()">
                                                <option>请选择资产类型</option>
                                                {% for User_type in User_types %}
                                                    <option value="{{ User_type.0 }}">{{ User_type.1 }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="device_type" class="col-sm-2 control-label">设备类型</label>
                                        <div class="col-sm-6">
                                            <select class="form-control select2 " id="device_type" name="device_type" style="width: 100%;"  onchange="deviceType()">
                                                <option>请选择设备类型</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="name" class="col-sm-2 control-label">资产名称<span class="text-red">*</span></label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="User_name" id="User_name">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="sn" class="col-sm-2 control-label">资产编号<span class="text-red">*</span></label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="User_sn" id="User_sn">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="User_status" class="col-sm-2 control-label">设备状态</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" name="User_status" id="User_status">
                                                <option value="5">新购</option>
                                                <option value="0">在线</option>
                                                <option value="1">下线</option>
                                                <option value="2">待初始化</option>
                                                <option value="3">故障</option>
                                                <option value="4">备用</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="price" class="col-sm-2 control-label">价格</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="User_price" id="User_price">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="User_product" class="col-sm-2 control-label">所属业务线</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" name="User_product" id="User_product">

                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="User_admin" class="col-sm-2 control-label">资产管理员</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" name="User_admin" id="User_admin">

                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="User_provider" class="col-sm-2 control-label">云服务商</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" name="User_provider" id="User_provider">
                                                <option value="">请选择云服务商</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="User_idc" class="col-sm-2 control-label">所在机房</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" name="User_idc" id="User_idc">
                                                <option value="">请选择机房</option>
                                                {% for User_idc in User_idcs %}
                                                    <option value="{{ User_idc.id }}">{{ User_idc.idc_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="User_memo" class="col-sm-2 control-label">备注</label>
                                        <div class="col-sm-6">
                                            <textarea class="form-control" name="User_memo" id="User_memo"></textarea>
                                        </div>
                                    </div>

                                </fieldset>

                                <fieldset id="server_items">
                                    <div class="form-group" >
                                        <label for="i_ip" class="col-sm-2 control-label">公网地址</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="public_ip" id="public_ip">
                                        </div>
                                    </div>
                                    <div class="form-group" >
                                        <label for="local_ip" class="col-sm-2 control-label">内网地址</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="intranet_ip" id="intranet_ip">
                                        </div>
                                    </div>
                                    <div class="form-group" >
                                        <label for="hostname" class="col-sm-2 control-label">主机名称</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="hostname" id="hostname">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="env" class="col-sm-2 control-label">所属环境</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" name="env" id="env">
                                                <option value="">请选择环境</option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                                <!-- /.box-body -->

                                <div class="box-footer">
                                    <button type="button" class="btn btn-default pull-right" onclick="history.go(0)">返回</button>
                                    <button type="button" class="btn btn-info pull-right" onclick="addUser(another=false)">确认添加，并返回资产列表
                                    </button>
                                    <button type="button" class="btn btn-info pull-right" onclick="addUser(another=true)">确认添加，继续添加另一个资产
                                    </button>
                                </div>
                                <!-- /.box-footer -->
                            </form>
                        </div>

                    {% else %}
                        <div class="modal-body">
                            抱歉！您没有修改用户的权限！如有疑问，请联系管理员！
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
                        </div>
                    {% endif %}
                </div>
            </div><!-- /.modal-content -->
            </div><!-- /.modal -->


        <!--dataTable-->
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box">
                <div class="box-body">
                    <table id="User" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>用户名称{{ session.permissions_list }}</th>
                            <th>用户角色</th>
                            <th>用户邮箱</th>
                            <th>联系方式</th>
                            <th>超级管理员</th>
                            <th>状态</th>
                            <th>最后登录时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for User in users %}
                            <tr>
                                <td>{{ User.id }}</td>
                                <td class="text-green text-bold">{{ User.username }}</td>
                                <td><a href="#">{% for role in User.role.all %} {{ role.title }}{% endfor %}</a></td>
                                <td><a href="#">{{ User.email }}</a></td>
                                <td>{{ User.phone }}</td>
                                {% if  User.is_superuser %}
                                    <td><button class="btn btn-success  btn-xs">是</button></td>
                                {% else %}
                                    <td><button class="btn btn-default  btn-xs">否</button></td>
                                {% endif %}
                                {% if  User.is_active %}
                                    <td><button class="btn btn-success  btn-xs">激活</button></td>
                                {% else %}
                                    <td><button class="btn btn-default  btn-xs">禁用</button></td>
                                {% endif %}
                                <td>
                                    {{ User.last_login|date:"Y-m-i H:s"}}
                                </td>

                                <td>
                                    <a href="#">
                                        <button type="button" class="btn btn-success btn-xs modify" data-toggle="modal"
                                            data-id="{{ User.id }}" data-target="#UserModal">详细</button>
                                    </a>
                                    <button type="button" class="btn btn-danger btn-xs delete" data-id="{{ User.id }}">
                                        删除
                                    </button>
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->

{% endblock %}


{% block addscript %}
    <!-- Select2 -->
    <script src="{% static 'adminlet-2.4.10/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <!-- DataTables -->
    <script src="{% static 'adminlet-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

    <!-- iCheck 1.0.1 -->
    <script src="{% static 'js/dataTables.checkboxes.min.js' %}"></script>

    <!-- 输入验证 -->
    <script src="{% static 'plugins/parsley/dist/parsley.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-confirm/dist/jquery-confirm.min.js' %}"></script>

    <script>
        $(function () {
            User_table = $('#User').DataTable({
                columnDefs: [
                    {
                        'targets': -1,
                        'orderable': false
                    },
                    {
                        'targets': 0,
                        'render': function (data, type, row, meta) {
                            if (type === 'display') {
                                data = '<div class="checkbox"><input type="checkbox" class="dt-checkboxes"><label></label></div>';
                            }

                            return data;
                        },
                        'checkboxes': {
                            'selectRow': true,
                        }
                    }
                ],
                'select': 'multi',
                "order": [[2, "asc"]]
            });
        });


        // Initialize Select2 Elements
        $(function () {
            $('.select2').select2({
                allowClear: true
            })
        });

        function checked() {
            let checkedID = [];
            let rows_selected = User_table.column(0).checkboxes.selected();
            $.each(rows_selected, function (index, rowId) {
                checkedID.push(rowId)
            });

            return checkedID;
        }


        // 将数据JSON化
        (function ($) {
            $.fn.serializeJson = function () {
                let serializeObj = {};
                let array = this.serializeArray();
                let names = ['Username', 'mobile', 'is_superUser', 'is_active'];
                $(array).each(function () {
                    if (serializeObj[this.name]) {
                        if ($.isArray(serializeObj[this.name])) {
                            serializeObj[this.name].push(this.value);
                        } else {
                            serializeObj[this.name] = [serializeObj[this.name], this.value];
                        }
                    } else {
                        if (names.indexOf(this.name) !== -1) {
                            serializeObj[this.name] = this.value;
                        } else {
                            serializeObj[this.name] = [this.value];
                        }
                    }
                });
                return serializeObj;
            };
        })(jQuery);


         function UserType() {
            console.log('click');
            let User_type = $('#User_type').val();
            let device_obj = $('#device_type');
            if (User_type === 'server') {
                device_obj.html('<option>请选择设备类型</option>');
                {% for server_type in server_types %}
                    device_obj.append('<option value="' + {{ server_type.0 }} +'">' + '{{ server_type.1 }}' + '</option>');
                {% endfor %}
                $('#server_items').show();
            } else if (User_type === 'network') {
                console.log(User_type);
                $('#server_items').hide();
                device_obj.html('<option>请选择设备类型</option>');
                {% for network_type in network_types %}
                    device_obj.append('<option value="' + {{ network_type.0 }} +'">' + '{{ network_type.1 }}' + '</option>');
                {% endfor %}

            } else if (User_type === 'office') {
                device_obj.html('<option>请选择设备类型</option>');
                {% for office_type in office_types %}
                    device_obj.append('<option value="' + {{ office_type.0 }} +'">' + '{{ office_type.1 }}' + '</option>');
                {% endfor %}
                $('#server_items').hide();
            } else if (User_type === 'securit') {
                device_obj.html('<option>请选择设备类型</option>');
                {% for security_type in security_types %}
                    device_obj.append('<option value="' + {{ security_type.0 }} +'">' + '{{ security_type.1 }}' + '</option>');
                {% endfor %}
                $('#server_items').hide();
            } else if (User_type === 'storage') {
                device_obj.html('<option>请选择设备类型</option>');
                {% for storage_type in storage_types %}
                    device_obj.append('<option value="' + {{ storage_type.0 }} +'">' + '{{ storage_type.1 }}' + '</option>');
                {% endfor %}
                $('#server_items').hide();
            } else if (User_type === 'software') {
                device_obj.html('<option>请选择设备类型</option>').hide();
                {% for software_type in software_types %}
                    device_obj.append('<option value="' + {{ software_type.0 }} +'">' + '{{ software_type.1 }}' + '</option>');
                {% endfor %}
                $('#server_items').hide();
            } else {
                console.log(User_type);
                $('#server_items').hide();
            }
        }

        function deviceType() {
            let User_type = $('#User_type').val();
            let device_type = $('#device_type').val();
            let hosted_obj = $('.hosted_on');
            User_type === 'server'  ? hosted_obj.show() : hosted_obj.hide()
        }

        // 添加资产
        (function ($) {
            $.fn.formatData = function (UserType) {
                let formatObj = {};
                let UserObj = {};
                let array = this.serializeArray();
                $(array).each(function () {
                    if (this.name.indexOf('User_') !== -1) {
                        UserObj[this.name.split('_')[1]] = this.value;
                        formatObj['User'] = UserObj;
                    } else if (this.name.indexOf('device_') !== -1) {
                        formatObj[UserType + '_type'] = this.value;
                    } else {
                        formatObj[this.name] = this.value;
                    }
                });
                return formatObj;
            };
        })(jQuery);

        function addUser(another) {
            let UserType = $('#User_type').val();
            let data = $('.form-horizontal').formatData(UserType);
            console.log(data);
            if (UserType === "server") {
                var post_url = '/api/User/'+UserType+'/';
                var post_data = data
            }else {
                var post_url = '/api/Users/';
                var post_data = data.User
            }
            $.ajax({
                url: post_url,
                type: 'POST',
                data: JSON.stringify(post_data),
                dataType: 'json',
                contentType: "application/json",
                success: function () {
                    if (another) {
                        $.confirm({
                            title: 'Tips',
                            content: '添加成功！',
                            type: 'green',
                            buttons: {
                                Ok: function () {
                                    document.getElementById("User_form").reset();
                                    $(".select2").val('').trigger('change');
                                },
                            }
                        })
                    } else {
                        $.confirm({
                            title: 'Tips',
                            content: '添加成功！',
                            type: 'green',
                            buttons: {
                                Ok: function () {
                                    window.location.href = '{% url 'rbac:user_list' %}';
                                },
                            }
                        })
                    }
                },
                error: function (response) {
                    $.alert({
                        title: 'Tips',
                        type: 'red',
                        content: response.responseText,
                    });
                }
            })
        }

        let Users_tbody = $('#User tbody');
        let Users_ops = $('#Users_ops');

        // 删除
        Users_tbody.on('click', '.delete', function () {
            {% if perms.auth.delete_Users %}
                let pk = $(this).attr('data-id');
                let tr_obj = $(this).parents('tr');
                $.confirm({
                    title: 'Tips',
                    content: '确定要删除这条记录么？',
                    type: 'red',
                    buttons: {
                        Ok: function () {
                            $.ajax({
                                url: '/api/users/' + pk + '/',
                                method: 'DELETE',
                                success: function () {
                                    User_table.row(tr_obj).remove().draw();
                                },
                                error: function (data) {
                                    $.alert({
                                        title: 'Tips',
                                        type: 'red',
                                        content: '删除失败！' + data.responseText,
                                    })
                                }
                            })
                        },
                        Cancel: function () {
                            //
                        }
                    }
                });
            {% else %}
                $.alert({
                    title: 'Tips',
                    type: 'red',
                    content: '抱歉！您没有删除用户的权限！如有疑问，请联系管理员！',
                });
            {% endif %}
        });

        // 批量导出
        $('#exportChecked').click(function () {
            {% if perms.Users.add_Users %}
                let checkedID = checked();
                console.log(checkedID);
                if (checkedID.length === 0) {
                    $.alert({
                        title: 'Tips',
                        type: 'red',
                        content: '请选择要导出的资产！',
                    })
                } else {
                    let xhr = new XMLHttpRequest();
                    xhr.open('POST', '#');
                    xhr.responseType = 'blob';
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                    xhr.onload = function () {
                        if (this.status === 200) {
                            let blob = this.response;
                            let reader = new FileReader();
                            reader.readAsDataURL(blob);
                            reader.onload = function (e) {
                                let a = document.createElement('a');
                                a.download = '用户信息.csv';
                                a.href = e.target.result;
                                a.click();
                                $(a).remove();
                            }
                        }
                    };
                    xhr.send('UsersIds=' + JSON.stringify(checkedID))
                }
            {% else %}
                $.alert({
                    title: 'Tips',
                    type: 'red',
                    content: '抱歉！您没有导出权限！如有疑问，请联系管理员！',
                });
            {% endif %}
        });


        // 批量删除
        $("#deleteChecked").click(function () {
            {% if perms.Users.delete_Users %}
                let checkedID = checked();
                console.log(checkedID);
                if (checkedID.length === 0) {
                    $.alert({
                        title: 'Tips',
                        type: 'red',
                        content: '请选择要删除的资产！',
                    })
                } else {
                    $.confirm({
                        title: 'Tips',
                        content: '确定要删除这些资产么？',
                        type: 'red',
                        buttons: {
                            Ok: function () {
                                for (let i = 0; i < checkedID.length; i++) {
                                    $.ajax({
                                        url: '/api/users/' + checkedID[i] + '/',
                                        method: 'DELETE',
                                        error: function (data) {
                                            $.alert({
                                                title: 'Tips',
                                                type: 'red',
                                                content: '删除失败！' + data.responseText,
                                            })
                                        }
                                    })
                                }
                                $.confirm({
                                    title: 'Tips',
                                    content: '删除完成！',
                                    type: 'green',
                                    buttons: {
                                        Ok: function () {
                                            window.location.reload()
                                        },
                                    }
                                })
                            },
                            Cancel: function () {
                                // close
                            }
                        }
                    })
                }
            {% else %}
                $.alert({
                    title: 'Tips',
                    type: 'red',
                    content: '抱歉！您没有删除资产的权限！如有疑问，请联系管理员！',
                });
            {% endif %}
        });

        //获取列表
        function get_list (info){
            $.ajax({
                url: '/api/user/' + info  + '/',
                type: 'GET',
                success: function (res) {
                    console.log(res);
                    let cabinet_obj = $('#User_'+info);
                    let cabinets = res;
                    cabinet_obj.html('');
                    for (let i = 0; i < cabinets.length; i++) {
                        cabinet_obj.append(
                            '<option value=' + cabinets[i]['id'] + '>' + cabinets[i]['name'] + '</option>'
                        )
                    }
                }
            })
        }

        $(document).ready(function(){
            $('#server_items').hide();
            $('#device_type').hide();
        });

        $(document).ready(function () {
            $.ajax({
                url: '/api/users/',
                type: 'GET',
                success: function (res) {
                    let cabinet_obj = $('#User_admin');
                    let cabinets = res;
                    cabinet_obj.html('');
                    for (let i = 0; i < cabinets.length; i++) {
                        cabinet_obj.append(
                            '<option value=' + cabinets[i]['id'] + '>' + cabinets[i]['username'] + '</option>'
                        )
                    }
                }
            })
        });
    </script>

    <script>
        var day="";
        var month="";
        var ampm="";
        var ampmhour="";
        var myweekday="";
        var year="";
        var hh;
        mydate=new Date();
        myweekday=mydate.getDay();
        mymonth=mydate.getMonth()+1;
        myday= mydate.getDate();
        myyear= mydate.getYear();
        year=(myyear > 200) ? myyear : 1900 + myyear;
        hh=mydate.getHours();
        console.log(year,mymonth,myday);
        document.write("<font color=#FFFFFF>"+year+"年"+mymonth+"月"+myday+"日 </font>");
    </script>

{% endblock %}

